.skills-icons-container:hover .skills-icons{
    transform: scale(1.2);
    transition: .5s;
}

.skills-icons{
    font-size: 2rem;
}

.skills-heading{
    color: var(--secondary-text)!important;
} 

.other-skills-text{
    padding: 0.35rem;
    background: darkviolet;
    color: #fff;
    font-weight: 500;
    font-size: 15px;
}