body{
    overflow-y: scroll;
    background-color: var(--secondary-background)!important;
    color: var(--primary-text)!important;
}

a{
    color: var(--primary-text)!important;
}

.pri-text{
    color: var(--primary-text)!important;
}

.sec-text{
    color: var(--secondary-text)!important;
}

.tert-text{
    color: var(--tertiary-text)!important;
}

.q-text{
    color: var(--tertiary-background)!important;
}

.pri-bg{
    background-color: var(--primary-background)!important;
}

.sec-bg{
    background-color: var(--secondary-background)!important;
}


/* *Scrollbar */

body::-webkit-scrollbar {
    width: .25em;
  }
   
  body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  }
   
  body::-webkit-scrollbar-thumb {
    background-color: var(--primary-text);
    outline: 1px solid slategrey;
  }