body{
    background-color: var(--primary-background)!important;
    color: var(--primary-text)!important;
}

a{
    color: var(--primary-text)!important;
}

.sec-text{
    color: var(--secondary-text);
}

.tert-text{
    color: var(--tertiary-text)
}

.q-text{
    color: var(--tertiary-background);
}